:root {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    width: 300px; width: 30rem;
    height: 300px; height: 30rem;
}
