<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width" initil-scale=1>
    <title>Amir Shabani</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}?{% now 'U' %}">
  </head>
  <body>
    <div class="container">
      <img id="profile-picture" width="200px" height="200px" src="{% static 'images/profile.gif' %}">
      <h1 id="name">Amir Shabani</h1>
      <h6 id="job-title">Backend & DevOps Developer</h6>
    </div>
  </body>
</html>
