{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body class="bg-dark text-light">
  <div class="container">
  {% if request.path == "/login" %}
  <form method="POST" action=""> {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="login" class="btn btn-success">
  </form>

  <hr>

  <div>
    <p>
    Haven't signed up yet?
    <a href="{% url 'register' %}">sign up</a>
    </p>
  </div>
  {% endif %}
  {% if request.path == "/register" %}
  <form method="POST" action=""> {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="register" class="btn btn-success">
  </form>

  <hr>

  <div>
    <p>
    Already signed up?
    <a href="{% url 'login' %}">login</a>
    </p>
  </div>
  {% endif %}
  </div>
</body>
{% endblock content %}
